/* * {
    box-sizing: border-box;
} */

body {
    background-color: #E9EEE7;
}

#navbar {
    background-color: #118409;
    color: #28FE67;
    font-size: 1.25rem; 
}
.nav-img {
    margin-right: 2rem;
}
.nav-link {
    color: #28FE67;
}
.jumbotron{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100vh;
}

.btn-success {
    background-color:  #118409;
}

#about-modal {
    padding: 3rem;
    font-size: 1.25rem;
}

.card {
    height: 20rem;
    width: 15rem;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    color: #750627;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#footer {
    background-color: #118409;
    color: #28FE67;
    font-size: 1rem;
}


#div-for-libraryMap {
    display: none;
}

.library-nav .nav-link {
    font-size:2rem;
}

#map {
    position: fixed !important;
    height: 80% !important;
    width: 50% !important;
    margin-bottom: 5% !important;
    right: 3% !important;
    top: 15% !important;
}


#myMap {
    height: 90%;
}


#div-for-map {
    height: 20%;
    width: 20%;
    position: fixed;
}

.bookSearch {
    background-color: rgba(48, 48, 61, 0.705);
    color: cornsilk;
    border: 2px solid rgb(145, 219, 33);
}


/* Style the search field */

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
}

form.example button:hover {
    background: #0b7dda;
}

.libImage {
    width: 250px;
    height: 250px;
}

.libBook {
    cursor: pointer;
}


/* Clear floats */

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.profile {
    text-align-last: center;
}

#profile {
    margin-top: 3%;
}

#searchArea {
    text-align-last: center;
}


/* 




/* for the book search */


/* 
.bookSearch 
    background-color: rgba(48, 48, 61, 0.705);
    color: cornsilk;
    border: 2px solid rgb(145, 219, 33);